@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noticia+Text:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.btn.drawer-button svg {
  outline: none;
}

.border-inset-gradient {
  height: 8px; /* Adjust the height to match the border width */
  background: linear-gradient(to bottom, transparent, white);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.gradient-border {
  background-image: linear-gradient(to right, #FAE347, #AC99C7, #33B58F, #922A04, #6FBCF2, #E88C35);
  height: 6px; /* Adjust the height of your border */
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}